.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px -10px  rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,1);
}


.h{
    height: max-content !important;
}

.body{
    height:100% !important;
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: rgb(1, 2, 1);
}


.featuredIcon.negative{
    color: red;
}


.featuredSb{
    font-size: 15px;
    color: black;
}


.fail{
    /* background-color: #7fe15c; */
    background-color: #f6414f;
    color: black;
    font-weight: 500;
}

.total{
    /* background-color: #50e6ac; */
    /* background-color: #5358de; */
    /* background-color: #5475ee; */
    /* background-color: rgb(141, 95, 95); */
    /* background-color: #fd8060; */
    background-color: #7fe15c;
    color: black;
    font-weight: 700;
}


.pass{
    background-color: #eec354;
    color: black;
    font-weight: 700;
}